/* GLOBAL SELECTORS
----------------------------------*/
body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-size: 1.8em;
    line-height: 1.42857143;
    color: white;
    text-shadow: 0px 1px black;
    background-color: #fff;
    background: linear-gradient(to top left, #ae988a 0%, #e2e0d5  100%) fixed;
    text-align: center;
}
form {
    display: inline-block;
    color: white;
}
input {
    color: black;
}
input[readonly="readonly"]
{
    background-color:#D3D3D3;
}
/* CLASS SELECTORS
----------------------------------*/
.jumbotron {
    color: rgb(248, 232, 232);
    text-shadow: 5px, #42a28f;

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: 100%;

}
.navbar-brand {
    background: linear-gradient(to top left, #ae988a 0%, #e2e0d5 100%) fixed;
}



#welcome{
    -webkit-text-stroke: 1px black;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: 10px;
}





body {
    background: linear-gradient(to top left, #ae988a 0%, #e2e0d5  100%) fixed;

}






/* ID SELECTORS
-------------------------*/
#collapseExample {
    color: white;
    /*width: border-box; /*
    /*text-align: center; */
}
#collapseLogin {
    color: white;
    /*width: border-box; */
    text-align: center;
}
#welcome{
    -webkit-text-stroke: 1px black;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: 10px;
}

#collapseExample {
    color: white;
}
#collapseLogin {
    color:white;
}
#collapseLogin input {
    width: 100%;
   /* clear: both; */
}
#collapseLogin input {
    margin-top: 10px;
    margin-bottom: 5px;
}
#collapseAddRoom input {
    width: 100%;
    clear: both;
}

#collapseDeleteRoom input {
    width: 100%;
    clear: both;
    margin-bottom: 10px;
}

#Reserve_Room_ID input {
    width: 100%;
    clear: both;
    margin-bottom: 5px;
}
#reserveroomid {
    display: flex;
    margin-bottom: 46px;
}
#Reserve_Room_ID {
    flex: 1;
}
#label_roomid {
    padding-right: 30px;
}
#reserve_start {
    display: flex;
}
#Reserve_Timestamp_start_date {
    flex: 1;

}
#label_start {
    padding-right: 2px;
}
#reserve_end {
    display: flex;

}
#Reserve_Timestamp_end_date {
    flex: 1;
}
#label_end {
    padding-right: 11px;
}

















.btn-secondary{
    background-color: #42a28f;

}
.btn-default {
    background-color: #7aa39a;
}
.btn-success {
    background-color:#7aa39a;
    border-color: #fffce1;
}

.btn-success:hover {
    background-color: #42a28f;
    border-color: #e6e6e6;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: #42a28f;
    border-color: #e6e6e6;
}

#collapseExample input {
    width: 100%;
    clear: both;
}

.navbar-default {
    background: linear-gradient(to top left, #ae988a 0%, #e2e0d5 100%) fixed;
}

.room-card {
    background-color: #e2e0d5;
    width: 20%;
    border: 0.2em solid #e1cab9;

    border-radius: 1em;
    padding-top: 0.8em;
    margin: auto auto 1em;
}

.room-card p {
    color: black;
    text-shadow: none;
}

.card-clicked {
    border-color: #73d7f0;
    box-shadow: 0 0.1em 0.1em black;
}

.navbar{
    font-weight: 530;
    text-decoration-color: #000000;

}
