#collapseExample {
    background: #ff9933;
    width: border-box;
    /*text-align: center; */
}
#collapseLogin {
    background: #ff9933;
    width: border-box;
}
#welcome{
    -webkit-text-stroke: 1px black;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: 10px;
}

.jumbotron {
    color: rgb(248, 232, 232);
    text-shadow: 10px, #ff9558;

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: 100%;

}
.navbar-brand {
    background: linear-gradient(to top left, #ffffcc 0%, #ff9933 100%) fixed;
}

body {
    background: linear-gradient(to top left, #ffffcc 0%, #ff9933 100%) fixed;

    text-align: center;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: #fff;

}


#collapseExample {
    color: white;
}
#collapseLogin {
    color:white;
}

form {
    display: inline-block;
    color: white;
}
input {
    color: black;
}
.btn-secondary{
    background-color: orange;

}
.btn-default {
    background-color: orange;
}
.btn-success {
    background-color:orange;
}
#collapseExample input {
    width: 100%;
    clear: both;
}

.navbar-default {
    background: linear-gradient(to top left, #ffffcc 0%, #ff9933 100%) fixed;

}

.navbar{

    font-weight: 530;
    text-decoration-color: #000000;

}


