
#collapseExample {
    background: #2b542c;
    width: border-box;
    /*text-align: center; */
}
#collapseLogin {
    background: #2b542c;
    width: border-box;
}
#welcome{
    -webkit-text-stroke: 1px black;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: 10px;
}
.jumbotron {
    color: rgb(41, 187, 48);
    text-shadow: 10px, black;

    background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: 100%;
}

.navbar-brand {
    background: #216732;
}

body {
    background-color: rgb(41, 187, 105);
    text-align: center;
}
#collapseExample {
    color: white;
}
#collapseLogin {
    color:white;
}

form {
    display: inline-block;
    color: white;
}
input {
    color: black;
}
.btn-secondary{
    background-color: orange;

}
.btn-default {
    background-color: orange;
}






#collapseExample input {
    width: 100%;
    clear: both;
}




